POSTGRES_USER=
# 这是postgres数据库的用户名
POSTGRES_PASSWORD=
# 这是postgres数据库的密码
POSTGRES_DB=
# 这是postgres要创建的数据库名字
PG_EXPOSED_PORT=
# 这是postgres数据库在宿主机上的端口号
MINIO_EXPOSED_PORT=
# 这是minio对象存储在宿主机上的端口号
MINIO_CONSOLE_EXPOSED_PORT=
# 这是minio对象存储的控制台在宿主机上的端口号
MINIO_ROOT_USER=
# 这是minio对象存储的root用户名
MINIO_ROOT_PASSWORD=
# 这是minio对象存储的root密码
DEEPRAG_APP_PORT=
# 这是deepraag的app在宿主机上的端口号